<div class="backgris">

  <div class="container mt-3">
    <div>
        <div> 
          <button class="buttonazul mt-3"><a href="/auth/logout">Log Out</a></button>
        </div>

        <div>
          <h1> Welcome {{User.username}}!</h1>
          <h5> Send task for {{employeename}}</h5>
        </div>

        <button class="buttonazul mb-3">
           <a href="/rooms/new" > Add Room</a>
        </button>
    
      </div>

        <div class="row">

            {{#each rooms}}
              <div class="col-4 mt-3 center">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{ roomName }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ ubication }}</h6>
                        <p class="card-text">{{ description }}</p>
                        <div class="card-body">
                          <button class="buttonazul ">
                            <a href="/tasks" class="card-link"> Task </a>
                          </button>

                          <button class="buttonazul">
                            <a href="#" class="card-link">Upload</a>
                          </button>
                          
                        </div>
                        
                      </div>
                    </div>
              </div>
            {{/each}}


        </div>
  </div>
</div>